
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600')

// Variables
@import '_variables'

// Bootstrap
@import '../../../node_modules/bootstrap-styl'

.navbar-brand
	padding 2px 15px
	img
		height 45px